## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [29]:
import pandas as pd
import numpy as np
import random

In [30]:
randomNum = random.randrange(1, 8, 1)
randomCity = ['apple', 'pear', 'peach', 'orange', 'lemon','Austin', 'Dallas', 'Austin']
arrCity = []
arrPeople = []
for index in range(randomNum):
    arrCity.append(random.choice (randomCity))
    arrPeople.append(random.randrange(1, 99999, 1))
    
data = {'國家': arrCity ,
        '人口': arrPeople }

firstData = pd.DataFrame(data)
print(firstData)

       國家     人口
0   lemon  75955
1   apple  16347
2   peach   4540
3  Austin  51927

In [31]:
firstData[firstData['人口'] == max(arrPeople)]

      國家     人口
0  lemon  75955